@charset "utf-8";

/*重置样式*/
body{ font-size:12px; background:#fff; color:#666; font-family:arial,\5b8b\4f53; overflow-y: scroll\9; *overflow-y: auto; overflow-x: hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,b,p,img,pre,form,fieldset,input,textarea,blockquote{ margin:0; padding:0;}
table,td,tr,th{ font-size:12px;}
a{ text-decoration:none; color:#666;}
table{ margin:0 auto;}
img{ vertical-align:top; border:0 none;}
ol,ul,li{ list-style-type:none;}  
caption,th{ text-align:left;}  
h1,h2,h3,h4,h5,h6 { font-size:12px;}
i{font-style: normal;}
a:hover{ text-decoration:none;}
b,em{ font-style:normal; font-weight:normal;}
#clear{ clear:both;height: 0;}
.LETTER-RED { color: #ff1a3a!important; }